<html>
	<head>
	  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	  <!--[if IE]>
	      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	  <![endif]-->
	</head>
	<body>
		<h1>Hello world</h1>
		<h2>Colors</h2>

		{% for color in app.config.options.colors %}
			<div class="color {{ color }}">
				{{ color }}
			</div>
		{% endfor %}

	</body>
</html>